header {
  width: 100%;
  background-color: #fbfbfb;
}

header .container {
  width: 1500px;
  position: relative;
  margin: 0 auto;
}

header p {
  font-weight: 16px;
  font-size: normal;
  font-family: "Roboto";
  color: #555555;
  line-height: 19px;
}

header #burger {
  display: block;
}

header .cross {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #555555;
  cursor: pointer;
}

header .nav-catalog {
  display: none;
  width: 300px;
  height: 283px;
  background: #fefefe;
  border-radius: 17px;
  padding-top: 35px;
  position: absolute;
  left: 150px;
  top: 120px;
  z-index: 1;
}

header .nav-catalog li {
  list-style: none;
  font-weight: 16px;
  font-size: normal;
  font-family: "Roboto";
  color: #555555;
  line-height: 19px;
  margin-bottom: 30px;
}

header .nav-catalog a {
  text-decoration: none;
}

header #modal {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

header #modal-content {
  margin: 7% auto;
  padding: 20px;
}

header .admin {
  width: 350px;
  height: 500px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 17px;
}

header .admin .admin-cross {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

header .admin .admin-block {
  text-align: center;
}

header .admin .admin-block p {
  font-weight: normal;
  font-size: 18px;
  font-family: "Roboto";
  color: #555555;
  line-height: 21px;
}

header .admin .admin-block form input {
  width: 250px;
  height: 38px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  outline: none;
}

header .admin .admin-block form input:not(:first-child) {
  margin-top: 25px;
}

header .admin .admin-block form button {
  width: 250px;
  height: 38px;
  background: #3ab1c8;
  border-radius: 19px;
  border: none;
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto";
  color: #fefefe;
  line-height: 19px;
  margin-top: 25px;
  margin-bottom: 30px;
  cursor: pointer;
}

header .admin .admin-block a {
  width: 250px;
  height: 38px;
  background: #c65ea0;
  border-radius: 19px;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto";
  color: #fefefe;
  line-height: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 50px;
}

header .admin .admin-block .admin-social {
  margin-top: 40px;
}

header .admin .admin-block .admin-social img {
  margin-right: 20px;
}

header .header-block {
  padding-top: 10px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

header .icons,
header .catalog {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .icons img,
header .catalog img {
  -o-object-fit: contain;
  object-fit: contain;
}

header .icons p,
header .catalog p {
  margin: 0px;
}

header .catalog {
  width: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .icons {
  margin-left: 250px;
  width: 250px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header #logo {
  margin-left: 80px;
  margin-right: 80px;
  cursor: pointer;
}

header .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

header .about p:not(:last-child) {
  margin-right: 40px;
}

header .purchase {
  margin-top: 5px;
  padding-top: 200px;
  background-image: url(../img/banner_wh.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 480px;
}

header .purchase h1 {
  font-weight: 50px;
  font-size: normal;
  font-family: "Paytone One";
  color: #555555;
  line-height: 70px;
  margin: 0px;
  margin-bottom: 25px;
}

header .purchase p {
  width: 175px;
  font-weight: 24px;
  font-size: normal;
  font-family: "Roboto";
  color: #aaaaaa;
  line-height: 28px;
  margin: 0px;
  margin-bottom: 80px;
}

header .purchase .link {
  margin-top: 150px;
  padding: 11px 52px;
  padding-right: 22px;
  text-decoration: none;
  font-weight: 14px;
  font-size: normal;
  font-family: "Roboto";
  color: #c65ea0;
  line-height: 16px;
  border: 1px solid #c65ea0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 19px;
}

header .purchase .link img {
  margin-left: 30px;
}

header .purchase .refrigerator {
  margin-left: 180px;
}

header .purchase .circles {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 72%;
  bottom: 38%;
}

header .purchase .circles img {
  -o-object-fit: contain;
  object-fit: contain;
}

header .purchase .goods {
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-left: 150px;
}

header .purchase .goods img {
  -o-object-fit: contain;
  object-fit: contain;
}

header .purchase .goods .good {
  background-color: #ffffff;
  width: 250px;
  height: 90px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .purchase .goods .good:not(:last-child) {
  margin-right: 20px;
}

header .purchase .goods .good .img {
  width: 90px;
  margin-right: 10px;
  position: relative;
}

header .purchase .goods .good .pink {
  background-image: url(../img/Rectangle33.svg);
  background-repeat: no-repeat;
}

header .purchase .goods .good .pink img {
  position: absolute;
  left: 8%;
  top: 20px;
}

header .purchase .goods .good .violet {
  background-image: url(../img/Rectangle36.svg);
  background-repeat: no-repeat;
}

header .purchase .goods .good .violet img {
  position: absolute;
  left: 20px;
  top: 10px;
}

header .purchase .goods .good .dark-blue {
  background-image: url(../img/Rectangle39.svg);
  background-repeat: no-repeat;
}

header .purchase .goods .good .dark-blue img {
  position: absolute;
  left: 20px;
  top: 15px;
}

header .purchase .goods .good .light-blue {
  background-image: url(../img/Rectangle42.svg);
  background-repeat: no-repeat;
}

header .purchase .goods .good .light-blue img {
  position: absolute;
  left: 25px;
  top: 10px;
}

header .purchase .goods .good .blue {
  background-image: url(../img/Rectangle45.svg);
  background-repeat: no-repeat;
}

header .purchase .goods .good .blue img {
  position: absolute;
  left: 25px;
  top: 15px;
}

header .purchase .goods .good .info {
  width: 100px;
}

header .purchase .goods .good .info p {
  width: 120px;
  margin: 0px;
  font-weight: 14px;
  font-size: normal;
  font-family: "Roboto";
  color: #555555;
  line-height: 16px;
  margin-top: 11px;
}

header .purchase .goods .good .info img {
  cursor: pointer;
  position: absolute;
  right: -8px;
  bottom: -13px;
}

header .purchase .goods .good .info .k {
  right: 18px;
  bottom: 10px;
}

main {
  height: 1900px;
  background: #fbfbfb;
  padding-top: 100px;
}

main p {
  margin: 0px;
}

main .stock {
  padding-left: 50px;
  padding-right: 50px;
  width: 1220px;
  height: 450px;
  background: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  margin: 0 auto;
}

main .stock .stock-header {
  padding-top: 25px;
  margin: 0 auto;
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .stock .stock-header p {
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto";
  color: #555555;
  line-height: 28px;
}

main .stock .stock-header .pages {
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  color: #555555;
  line-height: 16px;
}

main .stock .first,
main .stock .second,
main .stock .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

main .stock .first .slide,
main .stock .second .slide,
main .stock .third .slide {
  margin-left: 20px;
  width: 240px;
  height: 354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: center;
}

main .stock .first .slide > img,
main .stock .second .slide > img,
main .stock .third .slide > img {
  width: 200px;
  height: 150px;
  margin-left: 45px;
}

main .stock .first .slide .title,
main .stock .second .slide .title,
main .stock .third .slide .title {
  text-align: center;
  font-weight: 14px;
  font-size: normal;
  font-family: "Roboto";
  color: #555555;
  line-height: 16px;
  margin-bottom: 5px;
}

main .stock .first .slide p,
main .stock .second .slide p,
main .stock .third .slide p {
  text-align: center;
  font-weight: 14px;
  font-size: normal;
  font-family: "Roboto";
  color: #aaaaaa;
  line-height: 16px;
}

main .stock .first .slide .reviews,
main .stock .second .slide .reviews,
main .stock .third .slide .reviews {
  margin-top: 10px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .stock .first .slide .reviews p,
main .stock .second .slide .reviews p,
main .stock .third .slide .reviews p {
  font-weight: 12px;
  font-size: normal;
  font-family: "Roboto";
  color: #aaaaaa;
  line-height: 16px;
  margin-top: 1px;
}

main .stock .first .slide .reviews i,
main .stock .second .slide .reviews i,
main .stock .third .slide .reviews i {
  font-size: 11px;
  color: #3ab1c8;
  margin-right: 0px;
}

main .stock .first .slide .price,
main .stock .second .slide .price,
main .stock .third .slide .price {
  padding-left: 60px;
}

main .stock .first .slide .price .last,
main .stock .second .slide .price .last,
main .stock .third .slide .price .last {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  font-weight: 14px;
  font-size: normal;
  font-family: "Roboto";
  color: #c65ea0;
  line-height: 16px;
}

main .stock .first .slide .price .new,
main .stock .second .slide .price .new,
main .stock .third .slide .price .new {
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto";
  color: #555555;
  line-height: 28px;
}

main .stock .first .slide .action,
main .stock .second .slide .action,
main .stock .third .slide .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: 20px;
}

main .stock .first .slide .action .buy,
main .stock .second .slide .action .buy,
main .stock .third .slide .action .buy {
  width: 40px;
  height: 40px;
  background-image: url(../img/Ellipse8.svg);
  background-repeat: no-repeat;
}

main .stock .first .slide .action .buy img,
main .stock .second .slide .action .buy img,
main .stock .third .slide .action .buy img {
  margin-left: 6px;
  margin-top: 6px;
}

main .slick-active {
  outline: none;
}

main .prev {
  position: absolute;
  bottom: 48%;
  left: -3%;
  cursor: pointer;
}

main .prev::before {
  content: url(../img/prev.svg);
}

main .next {
  position: absolute;
  bottom: 48%;
  right: -3%;
  cursor: pointer;
}

main .next::before {
  content: url(../img/next.svg);
}

main #q {
  margin-top: 100px;
}

main .brand {
  width: 1320px;
  height: 202px;
  background: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .brand .brands-slider {
  margin: auto;
}

main .brand .brands-slider div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .brand .brands-slider div > div:not(:first-child) {
  margin-top: 60px;
}

main .brand .brands-slider div > div img {
  -o-object-fit: contain;
  object-fit: contain;
}

main .brand .brands-slider div > div img:not(:last-child) {
  margin-right: 80px;
}

footer {
  width: 100%;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #979797;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer-container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footer-container > img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

footer img {
  -o-object-fit: contain;
  object-fit: contain;
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .footer-nav p {
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto";
  color: #555555;
  line-height: 19px;
  margin: 0px;
}

footer .footer-nav form {
  margin-left: 50px;
}

footer .footer-nav form > p {
  margin-bottom: 15px;
}

footer .footer-nav form input {
  width: 325px;
  height: 38px;
  background: #fefefe;
  border-radius: 19px;
  border: none;
  outline: none;
  border-radius: 19px;
  margin-bottom: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer .footer-nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-nav > div ul:first-child {
  margin-right: 75px;
}

footer .footer-nav > div ul a {
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
}

footer .footer-nav > div .ul-header {
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto";
  color: #555555;
  line-height: 19px;
}

footer .footer-nav > div li {
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  color: #fefefe;
  line-height: 13px;
  list-style: none;
  cursor: pointer;
}

footer .footer-nav > div li:not(:last-child) {
  margin-bottom: 15px;
}

footer .footer-nav .copy {
  text-align: center;
  margin-top: 20px;
}

footer .footer-contact {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .footer-contact p {
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  color: #555555;
  line-height: 16px;
  margin: 0px;
  margin-bottom: 15px;
}

footer .footer-contact .email {
  margin-top: 15px;
  margin-bottom: 25px;
}

footer .footer-contact .addr {
  width: 147px;
  font-weight: normal;
  font-size: 12px;
  font-family: "Roboto";
  color: #555555;
  line-height: 14px;
}

footer .footer-contact .contact-sicial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

footer .footer-contact .contact-sicial img:not(:last-child) {
  margin-right: 15px;
}

#activeStars {
  color: #3ab1c8;
}
