@import "./mixin.scss";
header {
  width: 100%;
  background-color: #fbfbfb;

  .container {
    width: 1500px;
    position: relative;
    margin: 0 auto;
    // max-width: 98%;
  }
  p {
    @include text(#555555, "Roboto", normal, 16px, 19px);
  }

  #burger {
    display: block;
  }

  .cross {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #555555;
    cursor: pointer;
  }

  .nav-catalog {
    display: none;
    width: 300px;
    height: 283px;
    background: #fefefe;
    border-radius: 17px;
    padding-top: 35px;
    position: absolute;
    left: 150px;
    top: 120px;
    z-index: 1;

    li {
      list-style: none;
      @include text(#555555, "Roboto", normal, 16px, 19px);
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
    }
  }

  #modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #modal-content {
    margin: 7% auto;
    padding: 20px;
  }

  .admin {
    width: 350px;
    height: 500px;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 17px;

    .admin-cross {
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer;
    }

    .admin-block {
      text-align: center;

      p {
        @include text(#555555, "Roboto", 18px, normal, 21px);
      }

      form {
        input {
          width: 250px;
          height: 38px;
          border: 0.5px solid rgba(0, 0, 0, 0.4);
          border-radius: 19px;
          box-sizing: border-box;
          padding-left: 30px;

          &:not(:first-child) {
            margin-top: 25px;
          }

          outline: none;
        }

        button {
          width: 250px;
          height: 38px;
          background: #3ab1c8;
          border-radius: 19px;
          border: none;
          @include text(#fefefe, "Roboto", 16px, normal, 19px);
          margin-top: 25px;
          margin-bottom: 30px;
          cursor: pointer;
        }
      }

      a {
        width: 250px;
        height: 38px;
        background: #c65ea0;
        border-radius: 19px;
        text-decoration: none;
        @include text(#fefefe, "Roboto", 16px, normal, 19px);
        box-sizing: border-box;
        padding: 11px 50px;
      }

      .admin-social {
        margin-top: 40px;
        img {
          margin-right: 20px;
        }
      }
    }
  }

  .header-block {
    padding-top: 10px;
    width: 1200px;
    display: flex;
    margin: 0 auto;
  }

  .icons,
  .catalog {
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      object-fit: contain;
    }
    p {
      margin: 0px;
    }
  }

  .catalog {
    width: 100px;
    justify-content: space-between;
  }

  .icons {
    margin-left: 250px;
    width: 250px;
    justify-content: space-between;
  }

  #logo {
    margin-left: 80px;
    margin-right: 80px;
    cursor: pointer;
  }

  .about {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  .purchase {
    margin-top: 5px;
    padding-top: 200px;
    background-image: url(../img/banner_wh.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 480px;
    h1 {
      @include text(#555555, "Paytone One", normal, 50px, 70px);
      margin: 0px;
      margin-bottom: 25px;
    }

    p {
      width: 175px;
      @include text(#aaaaaa, "Roboto", normal, 24px, 28px);
      margin: 0px;
      margin-bottom: 80px;
    }

    .link {
      margin-top: 150px;
      padding: 11px 52px;
      padding-right: 22px;
      text-decoration: none;
      @include text(#c65ea0, "Roboto", normal, 14px, 16px);
      border: 1px solid #c65ea0;
      box-sizing: border-box;
      border-radius: 19px;

      img {
        margin-left: 30px;
      }
    }

    .refrigerator {
      margin-left: 180px;
    }

    .circles {
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        object-fit: contain;
      }
      position: absolute;
      left: 72%;
      bottom: 38%;
    }

    .goods {
      width: 1150px;
      display: flex;
      margin-top: 80px;
      margin-left: 150px;

      img {
        object-fit: contain;
      }

      .good {
        background-color: #ffffff;
        width: 250px;
        height: 90px;
        border-radius: 10px;
        display: flex;
        position: relative;
        &:not(:last-child) {
          margin-right: 20px;
        }

        .img {
          width: 90px;
          margin-right: 10px;
          position: relative;
        }

        .pink {
          background-image: url(../img/Rectangle33.svg);
          background-repeat: no-repeat;
          img {
            position: absolute;
            left: 8%;
            top: 20px;
          }
        }

        .violet {
          background-image: url(../img/Rectangle36.svg);
          background-repeat: no-repeat;
          img {
            position: absolute;
            left: 20px;
            top: 10px;
          }
        }

        .dark-blue {
          background-image: url(../img/Rectangle39.svg);
          background-repeat: no-repeat;
          img {
            position: absolute;
            left: 20px;
            top: 15px;
          }
        }

        .light-blue {
          background-image: url(../img/Rectangle42.svg);
          background-repeat: no-repeat;
          img {
            position: absolute;
            left: 25px;
            top: 10px;
          }
        }

        .blue {
          background-image: url(../img/Rectangle45.svg);
          background-repeat: no-repeat;
          img {
            position: absolute;
            left: 25px;
            top: 15px;
          }
        }

        .info {
          width: 100px;
          p {
            width: 120px;
            margin: 0px;
            @include text(#555555, "Roboto", normal, 14px, 16px);
            margin-top: 11px;
          }

          img {
            cursor: pointer;
            position: absolute;
            right: -8px;
            bottom: -13px;
          }

          .k {
            right: 18px;
            bottom: 10px;
          }
        }
      }
    }
  }
}

main {
  height: 1900px;
  background: #fbfbfb;
  padding-top: 100px;

  p {
    margin: 0px;
  }
  .stock {
    padding-left: 50px;
    padding-right: 50px;
    width: 1220px;
    height: 450px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    margin: 0 auto;

    .stock-header {
      padding-top: 25px;
      margin: 0 auto;
      width: 1150px;
      display: flex;
      justify-content: space-between;

      p {
        @include text(#555555, "Roboto", 24px, normal, 28px);
      }

      .pages {
        @include text(#555555, "Roboto", 14px, normal, 16px);
      }
    }

    .first,
    .second,
    .third {
      display: flex;
      margin-top: 40px;

      .slide {
        margin-left: 20px;
        width: 240px;
        height: 354px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        > img {
          width: 200px;
          height: 150px;
          margin-left: 45px;
        }
        .title {
          text-align: center;
          @include text(#555555, "Roboto", normal, 14px, 16px);
          margin-bottom: 5px;
        }

        p {
          text-align: center;
          @include text(#aaaaaa, "Roboto", normal, 14px, 16px);
        }

        .reviews {
          margin-top: 10px;
          margin-left: 40px;
          display: flex;
          width: 180px;
          justify-content: space-between;
          // align-items: center;

          p {
            @include text(#aaaaaa, "Roboto", normal, 12px, 16px);
            margin-top: 1px;
          }

          i {
            font-size: 11px;
            color: #3ab1c8;
            margin-right: 0px;
          }
        }

        .price {
          padding-left: 60px;
          .last {
            text-decoration-line: line-through;
            @include text(#c65ea0, "Roboto", normal, 14px, 16px);
          }

          .new {
            @include text(#555555, "Roboto", 24px, normal, 28px);
          }
        }

        .action {
          display: flex;
          width: 140px;
          justify-content: space-between;
          margin-left: 60px;
          margin-top: 20px;
          .buy {
            width: 40px;
            height: 40px;
            background-image: url(../img/Ellipse8.svg);
            background-repeat: no-repeat;
            img {
              margin-left: 6px;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }

  .slick-active {
    outline: none;
  }
  .prev {
    position: absolute;
    bottom: 48%;
    left: -3%;
    cursor: pointer;
    &::before {
      content: url(../img/prev.svg);
    }
  }

  .next {
    position: absolute;
    bottom: 48%;
    right: -3%;
    cursor: pointer;
    &::before {
      content: url(../img/next.svg);
    }
  }
  #q {
    margin-top: 100px;
  }

  .brand {
    width: 1320px;
    height: 202px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .brands-slider {
      margin: auto;
      div {
        > div {
          display: flex;
          &:not(:first-child) {
            margin-top: 60px;
          }

          img {
            object-fit: contain;
            &:not(:last-child) {
              margin-right: 80px;
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 466px;
  display: flex;
  background: #979797;
  justify-content: center;

  .footer-container {
    width: 1200px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    > img {
      align-self: center;
    }
  }

  img {
    object-fit: contain;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;

    p {
      @include text(#555555, "Roboto", 16px, normal, 19px);
      margin: 0px;
    }

    form {
      margin-left: 50px;
      > p {
        margin-bottom: 15px;
      }
      input {
        width: 325px;
        height: 38px;
        background: #fefefe;
        border-radius: 19px;
        border: none;
        outline: none;
        border-radius: 19px;
        margin-bottom: 20px;
        padding-left: 20px;
        box-sizing: border-box;
      }
    }

    > div {
      display: flex;

      ul {
        &:first-child {
          margin-right: 75px;
        }
        a {
          display: block;
          text-decoration: none;
          margin-bottom: 15px;
        }
      }
      .ul-header {
        @include text(#555555, "Roboto", 16px, normal, 19px);
      }

      li {
        @include text(#fefefe, "Roboto", 14px, normal, 13px);
        list-style: none;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    .copy {
      text-align: center;
      margin-top: 20px;
    }
  }

  .footer-contact {
    align-self: center;
    display: flex;
    flex-direction: column;
    p {
      @include text(#555555, "Roboto", 14px, normal, 16px);
      margin: 0px;
      margin-bottom: 15px;
    }

    .email {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    .addr {
      width: 147px;
      @include text(#555555, "Roboto", 12px, normal, 14px);
    }

    .contact-sicial {
      display: flex;
      cursor: pointer;
      img {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}

#activeStars {
  color: #3ab1c8;
}

.currentActive {
}
